:root {
        --vermelho: #9c1b1f;
        --vermelho_escuro:  #5d0f14;
        --color-submain: #a33139;
        --branco-fudido: #ffffff;
        --preto: #34090c;
        --branco_viado: #e5f2ee;
        --color-main: #9c1b1f;
        --color-submain: #a33139;
        --color-darkmain: #5d0f14; /*green */
        --color-totalwhite: #ffffff; /* green 2*/
        --color-darkestmain: #34090c; /*green3*/
        --color-white: #e5f2ee;   
}

/*--aqui em baixo eu tiro as flechas do input number---*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: none;
}

/*-------------parte de cima do titulo e vermelho-------------------------*/
*{
        margin: 0;
        padding: 0;
}

#logo {
        width: 3.25%;
        height: 6.5vh;
        transition: 0.2s;
}

#logo:hover{
        width: 3%;
        height: 6vh;
    }

body{
        font-family: "readex";
}

#superior{
        background-color: var(--color-darkmain);
        box-shadow: 1px 1px 4px var(--color-darkestmain);
        height: 10vh;
        justify-content: space-between;
        padding: 0 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
}
#melhor{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--branco-fudido);
        display: inline;
        font-family: "readex";
}

#melhor a:hover{
        text-shadow: 0 0 15px var(--color-totalwhite);
}

#melhor a{
        text-decoration: none;
        color: var(--color-white);
        transition: 1s;
}

#Tutorial {
        margin-right: 3vh;
        margin-left: 3vh;
        color: var(--branco-fudido);
        font-family: "readex";
}

#volta{
        font-family: "readex";
        color: var(--branco-fudido);
        
}

@font-face {
        font-family: readex;
        src: url(lemon_milk/ReadexPro-Regular.ttf);
}

@font-face {
        font-family: comico;
        src: url(lemon_milk/LEMONMILK-Regular.otf);
}

@font-face {
        font-family: fodona;
        src: url(lemon_milk/LEMONMILK-RegularItalic.otf);
}
/*----------------atributos principais-----------------------*/
#corpo{
        border:solid;
}

#informações_primariarias {
        height: 16vh;
        width: 100%;
        flex-direction: row;
        align-items: center;
        display: inline-flex;
        justify-content: center;
}

#nome,#raças,#Origem,#deuses,#Classe,#nivel {
        border: none;
        text-align: left;
        background-color: transparent;
}
#nome:focus,#raças:focus,#Origem:focus,#deuses:focus,#Classe:focus,#nivel:focus {
        outline: none;
        border-bottom: 1px solid;
}
#nivel{
        font-family: "comico";
        width: 6vh;
        text-align: center;
}
#no,#ra,#ori,#di,#cl,#ni {
        font-family: "comico";
        font-size: medium;
}

#nome{
        width: 22vh;
}

#Origem {
        width: 22vh;
}
/*-----------------------------atributos------------------------*/


