:root {
        --vermelho: #9c1b1f;
        --vermelho_escuro:  #5d0f14;
        --color-submain: #a33139;
        --branco-fudido: #ffffff;
        --preto: #34090c;
        --branco_viado: #e5f2ee;
        --color-main: #9c1b1f;
        --color-submain: #a33139;
        --color-darkmain: #5d0f14; /*green */
        --color-totalwhite: #ffffff; /* green 2*/
        --color-darkestmain: #34090c; /*green3*/
        --color-white: #e5f2ee;   
}
/*-------------parte de cima do titulo e vermelho-------------------------*/
#dkm {
        width: 2.7%;
        height: 5vh;
}

#superior{
        background-color: var(--color-darkmain);
        box-shadow: 1px 1px 4px var(--color-darkestmain);
        height: 10vh;
        justify-content: space-between;
        padding: 0 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
}

#Tutorial {
        color: var(--branco-fudido);
        background: transparent;
        border-radius: 17%;
        border: transparent;
        margin-left: auto;
        width: 6%;
        height: 5.4vh;
}

#voltar {
        width: 7%;
        height: 5vh;
        font-family: "fodona";
        background-color: transparent;
        border: none;
        color: rgba(224, 220, 220, 0.76) ;
}

#titulo{
        font-size: 6vh;
        margin-left: 28%;
        color: rgba(214, 209, 209, 0.842);
        font-family: "fodona";

}

@font-face {
        font-family: comico;
        src: url(lemon_milk/LEMONMILK-Regular.otf);
}

@font-face {
        font-family: fodona;
        src: url(lemon_milk/LEMONMILK-RegularItalic.otf);
}
/*----------------atributos principais-----------------------*/

#informações_primariarias {
        height: 16vh;
        width: 100%;
        flex-direction: row;
        align-items: center;
        display: inline-flex;
}

#nome,#raças,#Origem,#deuses,#Classe,#nivel {
        border: none;
        border-bottom: 1px solid;
}
#nome:focus,#raças:focus,#Origem:focus,#deuses:focus,#Classe:focus,#nivel:focus {
        outline: none;
}
#nivel{
        font-family: "comico";
        width: 6vh;
}
#no,#ra,#ori,#di,#cl,#ni {
        font-family: "comico";
        font-size: medium;
}
/*-----------------------------atributos------------------------*/
