:root{
    --black: #000;
    --titulosborda:#062936;
    --bordanomes:#3f0f12;
    --rodape:#6f3c27;
    --vermelho:#b02b2e;
    --aspas:#f0dc82;
    --bg:#e8d1b5;
    --grayblur:#727175;
    --linhaA:#ddd9d5;
    --linhaBbg:#f6f6f6;
    --white:#ffffff;
    --azul: #0051ff;
    --color-main: #9c1b1f;
    --color-submain: #a33139;
    --color-darkmain: #5d0f14; /*green */
    --color-totalwhite: #ffffff; /* green 2*/
    --color-darkestmain: #34090c; /*green3*/
    --color-white: #e5f2ee;  
}
@font-face {
    font-family: readex pro;
    src: url('../../assets/Lovelo\ Black.otf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

.img_logo_header{
    width: 45.5px;
    transition: 0.5s ;
}
.img_logo_header:hover{
    width: 40px;
}
/* aqui eu alinho os elementos */
.header, .navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* aqui eu altero o fundo da header */
.header{
    position: sticky;
    background-color: var(--color-darkmain);
    box-shadow: 1px 1px 4px var(--color-darkestmain);
    height: 60px;
    justify-content: space-between;
    padding: 0 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* coloca o espaco entre os elemtnos na header */
.navigation_header{
    font-family: 'readex pro';
    gap: 52px;
}

/* altera as cores e animacoes dos links*/
.navigation_header a{
    text-decoration: none;
    color: var(--color-white);
    transition: 1s;
}
/*ainda alterando as animacoes, aqui eh o brilho qnd passa o mouse*/
.spark:hover{
    text-shadow: 0 0 15px var(--color-totalwhite);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: var(--vermelho);
    color: var(--black);
}

#form{
    gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content{
    position: relative;
    gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--bg);
    width: 35%;
    height: 80vh;
}

#sign-up-btn, #login-btn{
    padding: 1rem 5rem;
    border: 1px solid var(--black);
    border-radius: 1rem;
}

#sign-up-btn:hover, #login-btn:hover{
    background-color: var(--vermelho);
    color: var(--white);
    cursor: pointer;
}

#sign-up-btn:active, #login-btn:active{
    background-color: var(--black);
    color: var(--white);
}

#sign-up-btn:disabled, #login-btn:disabled{
    background-color: var(--grayblur);
    color: var(--white);
    cursor: not-allowed;
}

#form input{
    padding: 0.5rem;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
    width: 85%;
}

#message-sign-up, #message-login{
    color: var(--vermelho);
    font-size: 0.9rem;
}

label{
    top: 10.5rem;
    justify-content: space-between;
    left: 32rem;
    background-color: transparent;
    padding: 0 0.5rem;
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.4s ease;
}

input:focus + label{
    transform: translateY(-1rem) translateX(1rem);
    color: var(--azul);
    background-color: var(--bg);
}

input:focus{
    outline: none;
    border-color: var(--azul);
}

#content h1{
    font-size: 2rem;
    color: var(--titulosborda);
}

#content label{
    cursor: text;
    font-size: 0.8rem;
    color: var(--bordanomes);
}

.label{
    position: absolute;
    left: 3rem;
}

#name-label{
    top: 8.4rem;
}

#email-label{
    top: 11.5rem;
}

#password-label{
    top: 14.5rem;
}

#confirm_pass-label{
    top: 17.6rem;
}

#name-login{
    top: 10rem;
}

#email-login{
    top: 13rem;
}

#password-login{
    top: 16rem;
}

#login-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

#login-link a{
    color: var(--azul);
    text-decoration: none;
}
#login-link a:hover{
    text-decoration: underline;
}